<div class="w-full">
  <!-- Image -->
  <div>
    {{ "product-1" | placeholder_svg_tag: 'object-cover bg-gray-100 w-full h-80' }}
  </div>

  <!-- Name And Price -->
  <!-- Name -->
  <div>
    <p>Demo Product</p>
  </div>

  <!-- Price -->
  <p>{{ '9999' | money }}</p>
</div>