<div class="max-w-5xl mx-auto px-4 my-10">
  <!-- Content -->
  <div>
    {% for block in section.blocks %}
      {% if block.type == 'product_size_image' %}
        <div>
          <img
            src="{{ block.settings.product_size_chart | img_url: 'master' }}"
            alt="Product Size Chart"
            class="w-[480px]">
        </div>
      {% endif %}


      {% if block.type == 'size_chart_heading' %}
        <div class="my-5">
          <h2 class="text-5xl font-medium">{{ block.settings.size_heading }}</h2>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Size Chart",
    "blocks": [
      {
        "type": "product_size_image",
        "name": "Product Size Chart",
        "settings": [
          {
            "type": "image_picker",
            "id": "product_size_chart",
            "label": "Product Size"
          }
        ]
      }, {
        "type": "size_chart_heading",
        "name": "Heading of Size",
        "settings": [
          {
            "type": "text",
            "id": "size_heading",
            "label": "Size Heading"
          }
        ]
      }
    ]
  }
{% endschema %}